################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/source/ATS/.vs
/source/ATS/ant/.vscode
/source/ATS/ant/obj/Debug
*.user
/source/ATS/ast/obj/Debug
/source/ATS/ast/.vscode
/source/ATS/node_modules
